include parts/mixins.pug

+page("Contac us")
    section.left-container
        h2 Contact us
        p.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Veritatis itaque temporibus sapiente facilis possimus omnis 
            officia, iste quaerat corrupti repudiandae magni delectus autem 
            sit deleniti. Necessitatibus corrupti excepturi nobis consectetur!
            Nobis debitis mollitia natus corporis, harum voluptatem minus 
            quisquam voluptas at dolores delectus fuga iusto, minima provident 
            facere, obcaecati recusandae autem voluptatum? Vero nisi eum laudantium 
            non, beatae necessitatibus ab.Ullam aliquam corrupti ducimus, 
            labore assumenda expedita doloremque numquam. Placeat omnis magni 
            blanditiis possimus repellat sapiente tenetur consectetur modi rerum. 
            Nesciunt eius nam eligendi corporis doloremque asperiores voluptatibus 
            aliquid consequatur?Minima officia aliquid, ullam vero accusamus 
            exercitationem dolor ut placeat praesentium voluptas suscipit, debitis 
            nostrum velit porro repellendus alias. Ex nostrum qui facere aut 
            laudantium debitis, magnam nihil esse neque!Delectus non labore unde 
            quidem quam quis fugiat in omnis dolorem recusandae sit architecto 
            temporibus ut assumenda eos earum, ex mollitia.