include parts/mixins.pug

+page("Donut Shop")
    section.left-container
        h2 Welcome to Donut Shop!
        p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus asperiores laboriosam quis quia alias accusamus
            tempora ipsa accusantium laudantium debitis temporibus, repudiandae
            voluptate commodi soluta enim explicabo ullam dicta. Temporibus!Ducimus,
            necessitatibus, aliquid dignissimos culpa accusamus suscipit,
            voluptates ex obcaecati corporis molestias accusantium veniam optio!
            Pariatur corrupti magni obcaecati est placeat eius esse ab nam facilis
            inventore, aut suscipit dicta?Perferendis voluptatum aliquid veniam
            natus iusto odit incidunt officia dolore cum! Sed, quod? Dolore saepe
            modi quia. Quasi architecto vero quod, aut laudantium cum explicabo
            recusandae minima quas ex id!Harum ipsa rem, dignissimos aspernatur
            expedita dolorum at esse perspiciatis officiis laudantium eius velit ad
            consectetur cupiditate molestias consequuntur error deserunt maxime debitis.
            Provident quae qui libero culpa iure? Quas.Eum nihil nostrum, provident eos
            eligendi deserunt magni minus quia natus expedita similique, explicabo
            reiciendis animi vero nulla magnam illum fuga libero nisi pariatur. Amet
            nulla quia aperiam asperiores dolorum?Ab expedita repellendus voluptatem nemo
            veniam similique facilis vel animi molestiae. Sit quia unde, debitis nisi
            suscipit, omnis maxime vel ducimus reprehenderit fugit quas sunt voluptatibus
            animi assumenda magnam excepturi!Adipisci, reiciendis fuga?