footer
    section.centered-container
        
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident exercitationem quo dicta voluptatem
        
        ul.horizontal-list
            li
                a(href="") Twitter
            li
                a(href="") Facebook
            li
                a(href="") Instagramm