header
    section.user-panel
        ul.horizontal-list
            li.cart-btn
                a(href="orders.html") Orders
            li.cart-btn
                a(href="cart.html") Cart
            li
                a(href="account.html") Account
            li
                a(href="signIn.html") Sign In

    .donut

    h1
        a(href="/") Donut Shop

    nav
        ul.horizontal-list
            li
                a(href="index.html") Home
            li
                a(href="products.html") Products
            li
                a(href="contact.html") Contact us